
.table {
    border: none;  /* Elimina los bordes de la tabla */
    max-width: 100%; /* Asegura que la tabla no se desborde en pantallas pequeñas */
}

.table img {
    max-width: 150px; /* Tamaño de las imágenes en pantallas grandes */
    margin: 5px;     /* Márgenes entre las imágenes en pantallas grandes */
    padding: 2px;
}
.table td {
    padding: 2px;
}

/* Estilos para pantallas más pequeñas (dispositivos móviles) */
@media (max-width: 1000px) {
    .table img {
        max-width: 60px; /* Tamaño de las imágenes en pantallas pequeñas */
        margin: 2px;     /* Márgenes entre las imágenes en pantallas pequeñas */
    }
}
/* Estilos para los colores en la ventana emergente */
.color-options {
    display: flex;
    flex-wrap: wrap;
}

.color-option {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

.color-option[data-color="red"] {
    background-color: red;
}

.color-option[data-color="blue"] {
    background-color: blue;
}

.color-option[data-color="brown"] {
    background-color: brown;
}

.color-option[data-color="black"] {
    background-color: black;
}
#floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que esté por encima del contenido */
}

#generate-qr-button {
    display: block;
    background-color: #007BFF;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#generate-qr-button img {
    width: 40px;
    height: 40px;
}
